* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 375px) {
  /* ------- Header Section Container (Header-bg-Mobile) --------- */
  .header {
    position: absolute;
    width: 375px;
    height: 718px;
    margin-top: 20px;
    background-image: url(images/bg/header-shapes\ mobile.png);
    background-repeat: no-repeat;
  }

  /* --------- Header Container -------- */
  header {
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
    align-items: center;
    line-height: 20px;
    margin-top: 10%;
  }

  /* ------------ Header text Mobile (header-bg) ------ */

  .header-text {
    position: absolute;
    top: 12%;
    left: 6.4%;
    right: 6.4%;
    bottom: 2.13%;
  }

  .header-text h1 {
    display: flex;
    font-size: 40px;
    align-items: center;
  }

  .header-text p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }

  .header-text a {
    display: flex;
    justify-content: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-top: 12px;
  }

  /* ---------- social media Icons --------- */

  .social-media-icons {
    display: flex;
    margin-top: 12px;
    gap: 24px;
  }
}
